<?xml version="1.0" encoding="UTF-8"?>
<!--
/*********************************************************************
* Copyright (c) 06.10.2023 Thomas Zierer
*
* This program and the accompanying materials are made
* available under the terms of the Eclipse Public License 2.0
* which is available at https://www.eclipse.org/legal/epl-2.0/
*
* SPDX-License-Identifier: EPL-2.0
**********************************************************************/
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tgmz.zdev.preferences.ZdevPreferencePage"
            id="de.tgmz.zdev.preferences.ZdevPreferencePage"
            name="Endevor"/>
   </extension>
   <extension
         id="de.tgmz.zdev.preferences"
         name="Zdev"
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.tgmz.zdev.preferences.ZdevPreferenceInitializer"/>
   </extension>
</plugin>
