<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
/*********************************************************************
* Copyright (c) 06.10.2023 Thomas Zierer
*
* This program and the accompanying materials are made
* available under the terms of the Eclipse Public License 2.0
* which is available at https://www.eclipse.org/legal/epl-2.0/
*
* SPDX-License-Identifier: EPL-2.0
**********************************************************************/
-->
<?pde version="3.8"?><target name="z/Dev Target" sequenceNumber="71">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2022-03/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.ibm.zeus.feature.feature.group" version="0.0.0"/>
<unit id="com.ibm.zeus.feature.nl0.feature.group" version="0.0.0"/>
<repository location="https://public.dhe.ibm.com/ibmdl/export/pub/software/htp/zos/tools/aqua3.3-20231020GA/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.cvs.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2020-09/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.apache.ant" version="0.0.0"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.commons.net" version="0.0.0"/>
<unit id="org.h2" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/justj/jres/17/updates/release/latest/"/>
</location>
</locations>
</target>