<?xml version="1.0" encoding="UTF-8"?>
<!--
/*********************************************************************
* Copyright (c) 06.10.2023 Thomas Zierer
*
* This program and the accompanying materials are made
* available under the terms of the Eclipse Public License 2.0
* which is available at https://www.eclipse.org/legal/epl-2.0/
*
* SPDX-License-Identifier: EPL-2.0
**********************************************************************/
-->
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.core.expressions.propertyTesters">
	  	<propertyTester
			id="de.tgmz.zdev.xsdosrg.expressions.propertyTesters.isConnected"
			class="de.tgmz.zdev.connection.ConnectedTester"
			properties="isConnected"
			type="org.eclipse.core.resources.IResource"
			namespace="de.tgmz.zdev.connection" />
    </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<command commandId="de.tgmz.zdev.xsdosrg"
					label="%label.xsdosrg"
					icon="icons/xsd.png"
					style="push">
				<visibleWhen
       				checkEnabled="false">
   					<with variable="activeMenuSelection">
      					<iterate ifEmpty="false">
      						<and>
         						<adapt type="org.eclipse.core.resources.IResource">
              						<test property="org.eclipse.core.resources.extension" value="xsd" />
         						</adapt>
		                    	<test property="de.tgmz.zdev.connection.isConnected" 
		                    		value="true"
		                    		forcePluginActivation="true" />
		                    	</and>
      					</iterate>
   					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.ui.commands">
        <command defaultHandler="de.tgmz.zdev.xsdosrg.XsdosrgHandler"
              id="de.tgmz.zdev.xsdosrg"
              name="xsdosrg">
        </command>
	</extension>

</plugin>
