<?xml version="1.0" encoding="UTF-8"?>
<!--
/*********************************************************************
* Copyright (c) 06.10.2023 Thomas Zierer
*
* This program and the accompanying materials are made
* available under the terms of the Eclipse Public License 2.0
* which is available at https://www.eclipse.org/legal/epl-2.0/
*
* SPDX-License-Identifier: EPL-2.0
**********************************************************************/
-->
<Configuration packages="de.tgmz.zdev.logging" status="INFO">
	<Appenders>
		<ZOSConsoleAppender name="zosconsole">
			<PatternLayout pattern="%d{HH:mm:ss-SSS} %-5p [%t] (%F:%L) %M() - %msg%n" />
			<!-- To encode all output use 
			<PatternLayout pattern="%d{HH:mm:ss-SSS} %-5p [%t] (%F:%L) %M() - %enc{%msg}%n" /> 
			-->
		</ZOSConsoleAppender>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="zosconsole" />
		</Root>
		<Logger name="de.tgmz" level="trace" additivity="false">
			<AppenderRef ref="zosconsole" />
		</Logger>
		<Logger name="org" level="error" additivity="false">
			<AppenderRef ref="zosconsole" />
		</Logger>
		<Logger name="com" level="error" additivity="false">
			<AppenderRef ref="zosconsole" />
		</Logger>
	</Loggers>
</Configuration>